
  <ion-toolbar class="header">

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
</ion-buttons>
<br>
  </ion-toolbar>


<ion-content [fullscreen]="true" class="ion-text-center">

  <div class="center-content">
    <ion-title class="state">
      {{ timerState }}
    </ion-title>
    <h1><div class="time-display">
      <span>{{ formatTime(timeLeft).split(":")[0] }}</span>
      <span>{{ formatTime(timeLeft).split(":")[1] }}</span>
    </div></h1>
    <ion-button 
    class="startbutton"
      (click)="startTimer()" 
      [disabled]="timerRunning">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </div>
</ion-content>

